.skills_list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 958px;
  height: 226px;
  padding: 0px;
  gap: 0px;
  opacity: 0px;
  margin: 0 auto;
}
.skills{
  margin-top: 40px;
}

.skill {
  display: flex;
  align-items: center;
  gap: 15px;
}

.skill img {
  width: 60px;
  height: auto;
}

.skill .skills_info {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.skill h4 {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}

.skill .rating {
  display: flex;
  gap: 4px;
}

.skill .rating span {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ccc;
}

.skill .rating span.active {
  background-color: #333;
}

.skill p {
  margin: 0;
  font-size: 0.8rem;
  color: #777;
}

.carousel-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.carousel {
  display: flex;
  gap: 20px;
  overflow: hidden;
  justify-content: center;
  width: 100%;
}

.carousel-controls {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 55px;
}

.carousel-control {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.5rem;
}

.hidden {
  display: none !important;
}

.project.visible {
  display: block;
}

@media (max-width: 768px) {
  .skills_list {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 90%; 
    margin: 0 auto;
  }
  .skill {
    gap: 10px;
  }
  .carousel-container {
    margin-top: 120px;
    width: 95%; 
  }
  .carousel {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .carousel-control {
    padding: 5px 10px;
  }
  .about {
    text-align: center;
    margin: 0 auto;
    padding: 20px;
  }
  .about img {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
    border-radius: 50%;
  }
  .about p {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .skills_list {
    grid-template-columns: 1fr;
  }

  .skill img {
    width: 40px;
  }

  .skill h4 {
    font-size: 0.9rem;
  }

  .skill p {
    font-size: 0.7rem;
  
}
}