.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(249, 249, 249, 0.85);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal.show {
  display: flex;
}

.modal button{
  width: 240px;
  height: 60px;
  padding: 15px 49px 15px 49px;
  gap: 24px;
}

.modal-content {
  background: white;
  width: 800px;
  height: 450px;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
  color: #333;
}

.addForms h2 {
  text-align: center;
  margin-bottom: 20px;
}

.input-group {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}

.input-group label {
  font-size: 14px;
  margin-bottom: 5px;
  color: #333;
}

.input-group input {
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
}

.input-group input.error {
  border-color: #AF0808;
}

.error-message {
  font-size: 12px;
  color: #AF0808;
}

.error-message.hidden {
  display: none;
}

.add_project {
  display: flex;
  justify-content: center;
  margin: 0px;
}

#openModalButton{
  width: 240px;
  height: 60px;
  margin: 0;
  margin-bottom: 35px;
}


#addProjectBtn{
  margin-top: 40px;
}

.projects {
  max-width: 1162px;
  min-width: 50%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 84px;
  justify-content: start;
  column-gap: 41px;
  right: 139px;
  left: 139px;
}

.project {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, #000000 100%),
    url("../Photos/projects.png") no-repeat center;
  background-size: cover;
  box-shadow: 0px 4px 4px 0px #00000040;
  width: 360px;
  height: 460px;
  border-radius: 16px;
  color: white;
  font-family: "Roboto", sans-serif;
  position: relative;

}

.project h2 {
  margin: 20px;
  font-size: 20px;
  font-weight: 700;
  color: #f1ebe1;
}

.project ul {
  margin: 0px 40px 0px;
}

.project ul li {
  font-size: 16px;
  line-height: 1.5;
}

.add_forms button,
.add_project button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 60px;
  border-radius: 8px;
  padding: 0;
  font-size: 18px;
  font-family: Roboto;
  margin-bottom: 84px;
  margin-top: 84px;
  gap: 12px;
}

.trash-icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s;
}

.trash-icon:hover {
  opacity: 0.8;
  transform: scale(1.1);
}
.plus img {
  width: 16px;
  height: 16px;
  margin-right: 0px;
}

.empty-message{
  position: absolute;
  align-items: center;
  text-align: center;
  width: 350px;
  left: 50%; 
  transform: translate(-50%, -50%);
}
@media (max-width:1400px) {
  .projects {
    grid-template-columns: repeat(2, 3fr);
    gap: 20px;
    padding-top: 20px;
    width: 100%;
  }
  
}
@media (max-width: 768px) {
  .projects {
    grid-template-columns: 1fr;
    gap: 20px;
    padding-top: 20px;
    width: 100%;
  }

  .project {
    width: 300px;
    height: 460px;   
  }

  .modal-content {
    width: 90%;
    height: auto;
    padding: 20px;
  }

  .modal button {
    width: 200px;
    height: 50px;
    font-size: 16px;
  }

  .add_project button {
    width: 200px;
    height: 50px;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .error-message {
    font-size: 10px;
  }

  .trash-icon {
    width: 30px;
    height: 30px;
  }
}

